[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
plotly = "*"
scikit-learn = "*"
optuna = "*"
shap = "*"
ipywidgets = "*"
nbformat = "*"
numpy = "==2.0.0"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.13"
